:root {
  --primary: #582F0E;
  --secondary: #7F4F24;
  --tertiary: #A4AC86;
  --light: #EDF2F4;
  --dark: #333D29;
}

.app {
  height: 100vh;
}

.pages {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.home {
  height: 100%;
  width: 100%;
  background-image: url(./images/beer-homepage.jpg);
  background-size: cover;
}

.home-right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  float: right;
  margin: 110px 20px;
  color: var(--primary);
  background-color: var(--light);
  border: solid black 5px;
  align-items: center;
}

.home-title {
  margin: 50px 10px;
  font-size: 60px;
  text-align: center;
}

.home-quiz-button {
  font-size: 45px;
  margin-bottom: 60px;
  color: var(--dark);
  border: solid black 1px;
  border-radius: 10px;
  background-color: var(--tertiary);
}

.home-quiz-button-link {
  text-decoration: none;
  color: inherit;
}

.login, .signup {
  height: 100%;
  width: 100%;
  background-image: url(./images/beer-homepage.jpg);
  background-size: cover;
}

.login-container, .singup-container {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  border: solid black 5px;
}

.login-title, .signup-title {
  font-size: 45px;
}

.login-form, .signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.login-form-items, .signup-form-items {
  margin: 5px;
}

.signup-link, .login-link {
  margin-bottom: 10px;
}