:root {
  --primary: #582F0E;
  --secondary: #7F4F24;
  --tertiary: #A4AC86;
  --light: #EDF2F4;
  --dark: #333D29;
}

.app {
  height: 100vh;
}

.pages {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.home {
  height: 100%;
  width: 100%;
  background-image: url(./images/beer-homepage.jpg);
  background-size: cover;
}

.home-right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  float: right;
  margin: 110px 20px;
  color: var(--primary);
  background-color: var(--light);
  border: solid black 5px;
  align-items: center;
}

.home-title {
  margin: 50px 10px;
  font-size: 60px;
  text-align: center;
}

.home-quiz-button {
  font-size: 45px;
  margin-bottom: 60px;
  color: var(--dark);
  border: solid black 1px;
  border-radius: 10px;
  background-color: var(--tertiary);
}

.home-quiz-button-link {
  text-decoration: none;
  color: inherit;
}

.login, .signup, .quiz, .account {
  height: 100%;
  width: 100%;
  background-image: url(./images/beer-homepage.jpg);
  background-size: cover;
}

.login-container, .singup-container, .quiz-container, .results-container, .account-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  border: solid black 5px;
}

.login-title, .signup-title {
  font-size: 45px;
}

.login-form, .signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.login-form-items, .signup-form-items {
  margin: 5px;
}

.signup-link, .login-link {
  margin-bottom: 10px;
}

.question-count {
  text-align: center;
  margin-bottom: 15px;
}

.question-count span {
  font-size: 28px;
}

.quiz-question {
  margin: 12px;
}

.quiz-answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quiz-answers button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  font-size: 24px;
  color: var(--light);
  background-color: var(--dark);
  margin: 0px 25px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.result-name {
  font-size: 40px;
}

.beer-image {
  height: 300px;
  width: 300px;
  background-size: cover;
}

.golden-lager {
  background-image: url(./images/golden-lager.png);
}

.pilsner {
  background-image: url('./images/pilsner.png');
}

.pale-ale {
  background-image: url('./images/pale-ale.png');
}

.india-pale-ale {
  background-image: url('./images/india-pale-ale.png');
}

.blonde-ale {
  background-image: url('./images/blonde-ale.png');
}

.belgian-style-dubbel {
  background-image: url('./images/belgian-style-dubbel.png');
}

.belgian-style-tripel {
  background-image: url('./images/belgian-style-tripel.png');
}

.belgian-style-quadrupel {
  background-image: url('./images/belgian-style-quadrupel.png');
}

.light-sour-ale {
  background-image: url('./images/light-sour-ale.png');
}

.red-ale {
  background-image: url('./images/red-ale.png');
}

.porter {
  background-image: url('./images/porter.png');
}

.dark-sour-ale {
  background-image: url('./images/dark-sour-ale.png');
}

.brown-ale {
  background-image: url('./images/brown-ale.png');
}

.stout {
  background-image: url('./images/stout.png');
}

@media screen and (max-width: 600px) {
  .home-right-container {
    width: 90%;
    float: none;
  }

  .login-container, .singup-container, .quiz-container, .results-container, .account-container {
    position: relative;
  }

  .quiz-answers {
    flex-direction: column;
  }

  .results-container {
    margin-top: 350px;
  }
}