:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
}

.app {
  height: 100vh;
}

.pages {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: lightseagreen;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.home {
  background-color: #8D99AE;
  display: flex;
  height: 100%;
  width: 100%;
}